body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('gedungumn.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 500px;
    border-radius: 12px;
    border: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
}

.welcome-box {
    background: linear-gradient(to bottom, #0F2573, #266CA9);
    color: white;
    flex: 1;
    padding: 50px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.welcome-logo {
    position: absolute;
    top: 15px; 
    left: 15px;
    width: 40px;
    height: auto;
}

.welcome-box h2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 150px;
}

.form-box {
    flex: 1;
    padding: 50px 30px;
    text-align: left;
}

.form-box h2 {
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    color: #01082D;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin-top: 7.5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.login-btn {
    background-color: #041D56;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

.login-btn:hover {
    background-color: #01082D;
}

.error-message {
    color: red;
    margin-top: 15px;
}